<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>TestCases.MotorTest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testcase03</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testcase02</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testcase05</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testcase04</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testcase01</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
