<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Practice Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="61b7af">  <td>21/08/11 18:20:19</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;BaseTest.initTest(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:TestCases.MotorTest@490ab905]">&gt;&gt;initTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@19986569</td>   <td></td> </tr>
<tr bgcolor="638263">  <td>21/08/11 18:20:44</td>   <td>25438</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MotorTest.testcase01()[pri:1, instance:TestCases.MotorTest@490ab905]">testcase01</td> 
  <td>main@19986569</td>   <td></td> </tr>
<tr bgcolor="638263">  <td>21/08/11 18:25:18</td>   <td>299274</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MotorTest.testcase02()[pri:2, instance:TestCases.MotorTest@490ab905]">testcase02</td> 
  <td>main@19986569</td>   <td></td> </tr>
<tr bgcolor="638263">  <td>21/08/11 18:25:29</td>   <td>309728</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MotorTest.testcase03()[pri:3, instance:TestCases.MotorTest@490ab905]">testcase03</td> 
  <td>main@19986569</td>   <td></td> </tr>
<tr bgcolor="638263">  <td>21/08/11 18:25:35</td>   <td>315606</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MotorTest.testcase04()[pri:4, instance:TestCases.MotorTest@490ab905]">testcase04</td> 
  <td>main@19986569</td>   <td></td> </tr>
<tr bgcolor="638263">  <td>21/08/11 18:25:43</td>   <td>324103</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MotorTest.testcase05()[pri:5, instance:TestCases.MotorTest@490ab905]">testcase05</td> 
  <td>main@19986569</td>   <td></td> </tr>
<tr bgcolor="61b7af">  <td>21/08/11 18:25:52</td>   <td>332581</td> <td>&nbsp;</td><td title="&lt;&lt;BaseTest.driverexecution()[pri:0, instance:TestCases.MotorTest@490ab905]">&lt;&lt;driverexecution</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@19986569</td>   <td></td> </tr>
<tr bgcolor="61b7af">  <td>21/08/11 18:25:54</td>   <td>334658</td> <td>&nbsp;</td><td title="&gt;&gt;BaseTest.initTest(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:TestCases.MotorTest@7e0b0338]">&gt;&gt;initTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@19986569</td>   <td></td> </tr>
<tr bgcolor="638263">  <td>21/08/11 18:26:17</td>   <td>357781</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MotorTest.testcase01()[pri:1, instance:TestCases.MotorTest@7e0b0338]">testcase01</td> 
  <td>main@19986569</td>   <td></td> </tr>
<tr bgcolor="638263">  <td>21/08/11 18:30:46</td>   <td>626676</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MotorTest.testcase02()[pri:2, instance:TestCases.MotorTest@7e0b0338]">testcase02</td> 
  <td>main@19986569</td>   <td></td> </tr>
<tr bgcolor="638263">  <td>21/08/11 18:30:56</td>   <td>637129</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MotorTest.testcase03()[pri:3, instance:TestCases.MotorTest@7e0b0338]">testcase03</td> 
  <td>main@19986569</td>   <td></td> </tr>
<tr bgcolor="638263">  <td>21/08/11 18:31:02</td>   <td>643003</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MotorTest.testcase04()[pri:4, instance:TestCases.MotorTest@7e0b0338]">testcase04</td> 
  <td>main@19986569</td>   <td></td> </tr>
<tr bgcolor="638263">  <td>21/08/11 18:31:11</td>   <td>651493</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MotorTest.testcase05()[pri:5, instance:TestCases.MotorTest@7e0b0338]">testcase05</td> 
  <td>main@19986569</td>   <td></td> </tr>
<tr bgcolor="61b7af">  <td>21/08/11 18:31:19</td>   <td>659953</td> <td>&nbsp;</td><td title="&lt;&lt;BaseTest.driverexecution()[pri:0, instance:TestCases.MotorTest@7e0b0338]">&lt;&lt;driverexecution</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@19986569</td>   <td></td> </tr>
<tr bgcolor="61b7af">  <td>21/08/11 18:31:20</td>   <td>661203</td> <td>&nbsp;</td><td title="&gt;&gt;BaseTest.initTest(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:TestCases.MotorTest@544fe44c]">&gt;&gt;initTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@19986569</td>   <td></td> </tr>
<tr bgcolor="638263">  <td>21/08/11 18:31:56</td>   <td>697338</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MotorTest.testcase01()[pri:1, instance:TestCases.MotorTest@544fe44c]">testcase01</td> 
  <td>main@19986569</td>   <td></td> </tr>
<tr bgcolor="638263">  <td>21/08/11 18:36:28</td>   <td>968630</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MotorTest.testcase02()[pri:2, instance:TestCases.MotorTest@544fe44c]">testcase02</td> 
  <td>main@19986569</td>   <td></td> </tr>
<tr bgcolor="638263">  <td>21/08/11 18:36:38</td>   <td>979085</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MotorTest.testcase03()[pri:3, instance:TestCases.MotorTest@544fe44c]">testcase03</td> 
  <td>main@19986569</td>   <td></td> </tr>
<tr bgcolor="638263">  <td>21/08/11 18:36:44</td>   <td>984968</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MotorTest.testcase04()[pri:4, instance:TestCases.MotorTest@544fe44c]">testcase04</td> 
  <td>main@19986569</td>   <td></td> </tr>
<tr bgcolor="638263">  <td>21/08/11 18:36:52</td>   <td>993414</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MotorTest.testcase05()[pri:5, instance:TestCases.MotorTest@544fe44c]">testcase05</td> 
  <td>main@19986569</td>   <td></td> </tr>
<tr bgcolor="61b7af">  <td>21/08/11 18:37:01</td>   <td>1001888</td> <td>&nbsp;</td><td title="&lt;&lt;BaseTest.driverexecution()[pri:0, instance:TestCases.MotorTest@544fe44c]">&lt;&lt;driverexecution</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@19986569</td>   <td></td> </tr>
</table>
